/* Globals */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(252, 252, 252);
}

.me-img-height {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.me-dp-flex {
    display: flex!important;
}

.me-pl-16 {
    padding-left: 16px;
}


/* karte */
.card {
    --bs-card-height: 90vh;
}

.me-card-next-frame {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}